$header-and-card-outline-color: #BAD4FA;
$banner-and-button-color: #4594EB;
$section-background-color: #E8E8E8;
$box-shadows: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
$align-center: center;
$flex-dispaly: flex;
