@import 'variables';
@import 'mixins';

body {
 margin: 0;
 font-family: "RocknRoll One";
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $header-and-card-outline-color;
  width: 100%;
  .user {
    margin: 30px 10px 0px 0px;
  }
  .title {
    margin-left: 10px;
  }
}

h2 {
  margin-left: 10px;
}

h3 {
  background-color: $banner-and-button-color;
  padding: 5px;
  text-align: $align-center;
}

.profile {
  text-align: $align-center;
  background-color: $section-background-color;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: $box-shadows;
  .profile-header{
    text-align: left;
  }
}

.booked-rooms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .booked-rooms-card {
    @include card-style()
  }
}

.book-room-section {
  display: $flex-dispaly;
  justify-content: space-around;
}

.search-results-display {
  display: $flex-dispaly;
  justify-content: space-around;
  text-align: $align-center;
}

.search-results-display {
  display: $flex-dispaly;
  flex-wrap: wrap;
  justify-content: space-around;
  .search-results {
    @include card-style()
  }
  .search-results:hover {
    background-color: $header-and-card-outline-color;
    color: white;
    cursor: pointer;
  }
}

.search-results-section, .book-a-room, .book-room-section {
  @extend .profile;
}

.book-a-room {
  text-align: left;
  margin-bottom: 0;
  margin-top: 20px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

.book-room-section {
  margin: 0px 10px 0px 10px;
  border-radius: 0px;
  box-shadow: none;
}

.search-results-section {
  margin-top: 0px;
  border-radius: 0px 0px 10px 10px;
}

.search-results {
  margin-top: 0px;
}

.submit-search {
  @include button-style()
}

.login {
  display: $flex-dispaly;
  flex-direction: column;
  background-color: $section-background-color;
  margin: auto;
  padding: 10px;
  width: 20%;
  border-radius: 0px 0px 10px 10px;
  .login-button {
    @include button-style()
  }
  .username-login, .password-login {
    border-radius: 5px;
  }
}

.hidden {
  display:none;
}
